<html>
  <head>
  <style>
      body {
        background: <%= "#{colour}" %>;
      }
    </style>
  </head>

  <body>
    <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
  
    <p>
       You have <%= guesses %> guesses remaining
    </p>
  </body>
</html>